body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 90vh;
    width: 80%;
    border-radius: 5px;
    border-color: rgb(180,180,180);
    border-style: solid;
    padding: 5px;
}

textarea:focus {
    outline-width: 2px;
    outline-color: rgb(100,100,100);
}

.input {
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180,180,180);
    padding-left: 5px;
    padding-right: 5px;
}

.input:focus{
    outline-width: 2px;
    outline-color: rgb(100,100,100);
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
    border-radius: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(180,180,180);
    padding-left: 10px;
    padding-right: 10px;
}

.search:focus {
    outline-width: 2px;
    outline-color: rgb(100,100,100);
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.button {
    border-radius: 3px;
    border-style: solid;
    border-color: black;
    color: white;
    background-color: royalblue;
}

.button:focus {
    background-color: indianred;
}